@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  font-family: 'Oxygen', sans-serif;
	margin-top: 3.5em; /* allows for fixed nav */
}

#nav {
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  cursor: default;
  height: 3.5em;
  line-height: 3.5em;
}
#nav ul {
  list-style: none;
}
#nav li {
  display: inline-block;
}
#nav a {
  transition: background-color .2s ease-in-out;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: 0;
  font-weight: 500;
  border-radius: 8px;
  color: #fff;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.25em;
}
#nav a:hover {
  color: #fff;
  background: #383838;
}
#nav a.active {
  background: #484848;
}
#nav a.active:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  margin-left: -0.75em;
  border-left: solid 0.75em transparent;
  border-right: solid 0.75em transparent;
  border-top: solid 0.6em #282828;
}

#ground {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#name {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: #111111;
  padding: 20px 0;
  text-align: center;
  width: 60%;
  margin: 0 20%;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #name {font-size: 1.5em;}
    #message {font-size: 1em;};
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #name {font-size: 1.5em;}
    #message {font-size: 1em;};
}

#message {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  color: #222222;
}
